body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border: 2px solid #d64161;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px;
    overflow: hidden;
}

header, footer {
    background-color: #d64161;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.invitation {
    padding: 20px;
    text-align: center;
}

.slideshow {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-top: 2px solid #d64161;
    border-bottom: 2px solid #d64161;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: auto;
}

p, h2, strong {
    font-family: 'Noto Sans KR', sans-serif;
}
